body {
  font-family: Roboto, sans-serif;
  background: #fff;
  color: #434455;
  width: 1440px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
img {
  width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-flex;
  color: #4d5ae5;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  margin-right: 76px;
}

.accent {
  color: #2e2f42;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.navig {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.topcik-ul {
  display: flex;
  gap: 40px;
}
.middle {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.middle:hover,
.middle:focus {
  color: #404bbf;
}
.contacts-ul {
  display: flex;

  gap: 40px;
}
.contacts {
  display: flex;
  font-style: normal;

  justify-content: flex-end;
}
.connection {
  text-decoration: none;
}

.mail {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: inherit;
}
.mail:hover,
.mail:focus {
  color: #404bbf;
}

.hero {
  width: 1440px;
  background-color: #2e2f42;
}
.hero-container {
  padding: 188px 331px;
}

.hero-item {
  color: #fff;

  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  width: 496px;
  margin-bottom: 48px;
}
.hero-btr {
  display: flex;
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  margin: auto;
}
.hero-btr:hover,
.hero-btr:focus {
  background-color: #404bbf;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.action-plan {
  color: #2e2f42;
  font-family: inherit;
}
.plan-chek {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.chek {
  width: 264px;
}
.explanations {
  color: #434455;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.directions {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.employees {
  background-color: #f4f4fd;
}
.work {
  display: flex;
  gap: 24px;
}

.team-photo {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  margin-bottom: 32px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-photo {
  display: inline-flex;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 24px;
}
.team-photo:last-child {
  margin-right: 0;
}
.name {
  font-family: inherit;
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  padding-top: 32px;
  padding-bottom: 8px;
}
.prof {
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.second-title {
  font-family: inherit;
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  margin-bottom: 72px;
  text-align: center;
}
.row-one {
  display: flex;
}

.portfo-foto {
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
}
.foto-item {
  border: 1px solid #e7e9fc;
}

.service {
  font-family: inherit;
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  padding: 16px;
  padding-top: 32px;
}
.short-description {
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding-bottom: 32px;
  padding-left: 16px;
}
.foot {
  background-color: #2e2f42;
}
.fot-conteiner {
  display: inline-flex;
  flex-direction: column;
  padding-top: 100px;
  padding-right: 1020px;
  padding-bottom: 100px;
  padding-left: 156px;
}
.logo-fotter {
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.54px;
  margin-bottom: 16px;
}
.accent-footer {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.foot-text {
  width: 264px;
  color: #f4f4fd;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
